{% macro recursiveCategory(category, entity_name) %}
    <li class="folder {% if not category.published %}unpublished{% endif %}" data-grp="{{ category.id }}">{{ category.name }}
        {% if category.sub|length %}
            <ul>
                {% for child in category.sub %}
                    {{ _self.recursiveCategory(child) }}
                {% endfor %}
            </ul>
        {% endif %}

        {% if category.items|length %}
            <ul>
                {% for classification in category.items %}
                    <li class="file {% if not classification.published %}unpublished{% endif %}"
                        data-jstree='{"type":"file"}' data-node="{{ classification.id }}">
                        <label class="item-label-holder">
                            <input name="classification"
                               {% if entity_name == 'questions' %} type="radio" {% else %} type="checkbox" {% endif %}
                               value="{{ classification.id }}"/>
                            {{ classification.name }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </li>
{% endmacro %}


<div id="classifications-modal-tree" class="modal-tree entity-{{ entity_name }}">
    <ul>
        <li data-jstree='{ "opened" : true }' data-grp="0">
            {{ 'strings.classifications_groups'|trans }}
            {% if tree %}
                <ul>
                    {% for group in tree.sub %}
                        {{ _self.recursiveCategory(group, entity_name) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
</div>

<script type="text/javascript">
    initializeModalTree('#classifications-modal-tree');
</script>
