<div class="lightbox-header question-data-header">
    <div class="row">
        <div class="col-sm-3">{{ question.name }}</div>
        <div class="col-sm-7">{{ question.description }}</div>
        <div class="col-sm-2 text-right">
            <a class="btn btn-default" href="{{ path('questionnaires') }}#questionnaire/{{ question.questModuleId.id }}/{{ question.id }}">Open</a>
        </div>
    </div>
</div>

{% include "@WBQbank/Default/questionData.html.twig" with {question: question} %}
