<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ 'strings.questionnaires'|trans }}</h4>
</div>
<div class="modal-body">

    <div id="search">
        <form id="search-form-modal" action="{{ path('questionnaires_modal') }}" data-entityName="{{ entity_name }}">
            <input type="search" name="search"/>
            <button type="submit" class="btn btn-primary btn-sm">{{ 'forms.search'|trans }}</button>
            <button type="reset" class="btn btn-primary btn-sm">{{ 'forms.reset'|trans }}</button>
        </form>
    </div>

    <div class="modal-data">
        {{ include('WBQbankBundle:Shared/partials:questionnairesModalPartial.html.twig') }}
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'forms.close'|trans }}</button>
    <button type="button" id="add-questionnaires" class="btn btn-info" data-dismiss="modal">{{ 'forms.add'|trans }}</button>
</div>


<script type="text/javascript">
    $("#add-questionnaires").on("click", function () {

        // var checked = $("#ajax-modal").find(":checked");
        if (checkedRelatedQuestionnaires.length) {
            var container = $("#questionnaires-items").find("tbody");
            
            $.each(checkedRelatedQuestionnaires, function (ind, id) {

                // tree data
                var ref = $('#questionnaires-modal-tree').jstree(true);
                var theNode = ref.get_node(id);
                var theNodeText = theNode.text;
                var theNodeTextPlain = theNodeText.replace(/(<([^>]+)>)/ig, '')

                var objectId = theNode.data.node;
                //var index = new Date().getTime();
                var index=objectId;
                
                var row = $("<tr>");
                var cell0 = $("<td><input type='checkbox' value='" + objectId + "' />");
                var cell1 = $("<td>").html(theNodeTextPlain);
                var cell2 = $("<td>").html('<a href="#" class="move-related-item move-down" data-direction="down" title="Move down">Move down</a> <a href="#" class="move-related-item move-up" data-direction="up" title="Move up">Move up</a>');
                var hiddenInput = $("<input type='hidden' name='{{ entity_name }}[{{ property_name }}][" + index + "][weight]' value='' class='relation-weight'/>");
                var hiddenInput1= $("<input type='hidden' name='{{ entity_name }}[{{ property_name }}][" + index + "][moduleId]' value='" + objectId + "' />");
                row.append(cell0).append(cell1).append(cell2).append(hiddenInput).append(hiddenInput1);
                container.append(row);
            });
            var weight = 1;
            container.find('.relation-weight').each(function () {
                $(this).val(weight++);
            });

            $('form .saved').hide();
            $('form .unsaved').show();
            $("#questionnaires-items").show();
            $("#questionnaires-items").prev('.related-items-info').hide();
        }
    });
    $("#search-form-modal button[type=reset]").on("click", function(){
        $(this).siblings('[type=search]').val('');
        $(this).closest('form').submit();
    });

</script>
