{% if public %}
    
    <ul class="groups-breadcrumb bc-collections-public">
        <li><a href="{{ path('wb_qbank_homepage') }}">{{ 'strings.home'|trans }}</a> /</li>
        <li><a href="{{ path('indicators') }}">{{ 'strings.indicators'|trans }}</a> /</li>
        <li class="bc-item-last">{{ indName }}</li>
    </ul>

{% else %}

    {% if parentCollections|length %}
        <h3>Indicator Collections:</h3>
        {% set counter = 0 %}
        {% for collections in parentCollections %}

            {% set counter = counter + 1 %}
            <ul class="bc-single bc-collections">
                <li class="icon-button home-button"><a href="{{ path('wb_qbank_backend') }}">{{ 'strings.home'|trans }}</a></li>
                <li><a href="{{ path('indicators_back') }}">{{ 'strings.indicators'|trans }}</a></li>

                {% for col in collections.parents %}
                    <li class="bc-item" data-grp="{{ col.collId }}"> | <a href="#">{{ col.collName }}</a></li>
                {% endfor %}

                <li class="bc-item" data-grp="{{ collections.id }}">| <a href="#">{{ collections.name }}</a></li>
                <li class="bc-item-last" data-node="{{ indId }}">| {{ indName }}
                    <a class="icon-button edit-button" href="#">{{ 'forms.edit'|trans }}</a>
                    <a class="icon-button btn btn-danger save-changes-button" href="#">{{ 'forms.save_changes'|trans }}</a>
                    <a class="icon-button delete-button" href="#"  
                        data-content="<a href='#' role='button' class='btn btn-default cancel'>{{ 'forms.cancel'|trans }}</a>
                                      <a href='#' role='button' class='btn btn-danger yes'>{{ 'forms.yes'|trans }}</a>"
                        data-original-title="Delete?"
                        data-html="true">{{ 'forms.delete'|trans }}</a>
                </li>
            </ul>
            
        {% endfor %}
        <span class="hidden" id="collections-counter">{{ counter }}</span>
    {% endif %}

{% endif %}



