{% macro recursiveCategory(category) %}
    <li class="folder {% if not category.published %}unpublished{% endif %}" data-grp="{{ category.id }}">{{ category.name }}
        {% if category.sub|length %}
            <ul>
                {% for child in category.sub %}
                    {{ _self.recursiveCategory(child) }}
                {% endfor %}
            </ul>
        {% endif %}

        {% if category.items|length %}
            <ul>
                {% for indicator in category.items %}
                    <li class="file {% if not indicator.published %}unpublished{% endif %}" data-jstree='{"type":"file"}' data-node="{{ indicator.id }}">{{ indicator.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </li>
{% endmacro %}

{#
<span class="hidden" id="count-groups">{{ countGroups }}</span>
<div class="node-groups-list groups">
    <div id="node-groups-tree">
        <ul>
            <li id="groups-root" data-jstree='{ "opened" : true }' data-grp="0">
                {{ 'strings.indicator_groups'|trans }}
                {% if groups %}
                    <ul>
                        {% for group in groups %}
                            {{ _self.recursiveCategory(group) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
#}

<span class="hidden" id="count-groups">{{ countGroups }}</span>
<div class="node-groups-list groups">
    <div id="node-groups-tree">
        {% if groups %}
            <ul>
                {% for group in groups %}
                    {{ _self.recursiveCategory(group) }}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
